@media only screen and (min-width: 1200px) {
	.graph-wrapper .col-md-3:last-child .panel .card-custom > .panel-body {
		height: calc(100% - 96px);
	}
	.trs-detail div.col-md-6 .info-detail .form-group label.col-md-6 {
		width: 33.33333333% !important;
	}
	.trs-detail div.col-md-6 .info-detail .form-group span.col-md-6 {
		width: 66.66666667% !important;
	}
}

@media only screen and (min-width: 1025px) {
	.graph-wrapper {
		display: flex;
	}
	.data-wrapper-left > div.d-flex .res-fourcol.dashboard-cursor:nth-child(odd) {
		padding-right: 3px;
		padding-left: 0px;
		margin-bottom: 6px;
	}
	.data-wrapper-left > div.d-flex .res-fourcol.dashboard-cursor:nth-child(even) {
		padding-left: 3px;
		padding-right: 0px;
		margin-bottom: 6px;
	}
	.data-wrapper-right .res-fourcol.dashboard-cursor:nth-child(even) {
		padding-right: 3px;
		padding-left: 0px;
		margin-bottom: 6px;
	}
	.data-wrapper-right .res-fourcol.dashboard-cursor:nth-child(odd) {
		padding-left: 3px;
		padding-right: 0px;
		margin-bottom: 6px;
	}
	.data-wrapper .dashboard-cursor {
		margin-bottom: 6px;
	}
	div[class*="res-fourcol-"] {
		margin-bottom: 6px
	}
	.dashboard-cursor .panel {
		height: 100%;
		margin-bottom: 0;
	}
	.dashboard-cursor .panel .panel-body, 
	.dashboard-cursor .panel .panel-body .res-dashcard {
		height: 100%;
	}
}

@media only screen and (min-width: 900px) and (max-width: 1024px) {
	.dashboard-cursor .panel {
		margin-bottom: 12px;
	}
	.most-cards {
		width: 30% !important;
		height: 368px;
		vertical-align: top;
    	display: inline-block !important;
    	border-bottom: unset !important;
	}
	/*.col-md-4.dashboard-cursor {
		width: 33.33333333%;
	}*/
}
@media only screen and (max-width: 1120px) {
	/*.login-image-container {
		transform: translateY(-50%);
	}*/
	/*.login-image-container img {
		width: inherit;
		object-fit: scale-down;
	}*/
	/*.login-container .login-page .login-form, .login-container .login-page .registration-form {
		transform:none
	}*/
}

@media only screen and (max-width: 1024px) {
	.no-pad-right.res-no-pad-left {
		padding-left: 0 !important;
		padding-right: 10px !important;
	}
	.res-scroll-md {
		overflow-x: scroll;
	}
	/*.login-image-container {
		transform: translateY(-50%);
	}*/
	/*.login-image-container img {
		width: inherit;
		object-fit: scale-down;
	}*/
	/*.login-container .login-page .login-form, .login-container .login-page .registration-form {
		transform:none
	}*/

	.graph-wrapper {
		display: block;
	}
	.graph-wrapper .col-md-3:last-child .panel .card-custom > .panel-body {
		height: calc(100% - 96px);
	}
	.data-wrapper-left,
	.data-wrapper-right {
		padding-right: 0 !important;
		padding-left: 0 !important;
		/*margin-right: -10px;*/
	}
	.data-wrapper-left > div.d-flex .res-fourcol.dashboard-cursor:nth-child(odd) {
		padding-right: 5px;
		padding-left: 0px;
	}
	.data-wrapper-left > div.d-flex .res-fourcol.dashboard-cursor:nth-child(even) {
		padding-left: 5px;
		padding-right: 0px;
	}
	.data-wrapper-right .res-fourcol.dashboard-cursor:nth-child(even) {
		padding-right: 5px;
		padding-left: 0px;
	}
	.data-wrapper-right .res-fourcol.dashboard-cursor:nth-child(odd) {
		padding-left: 5px;
		padding-right: 0px;
	}
	.dashboard-cursor.no-pad-left,.dashboard-cursor.pad-on,.dashboard-cursor.no-pad-right {
		padding: 0 !important;
	}

	.dashboard-cursor.res-fourcol-left {
		padding-right: 10px !important;
	}

	/*.dashboard-cursor.res-fourcol-right {
		padding-left: 10px !important;
	}*/

	.res-dashcard .col-md-2 {
		width: 20%;
    	float: left;
	}
	.res-dashcard .col-md-10 {
		width: 80%;
    	float: left;
	}
	.res-nopad, .res-no-pad {
		padding: 0 !important;
	}
	.res-btn-mid {
		padding-right: 0 !important;
		margin-bottom: 10px;
	}
	.most-container .most-cards > div.clearfix, .most-container > div > .clearfix {
		display: none;
	}
	.most-container .most-cards .col-md-9 {
		padding-top: 8px;
	}
	.most-container .most-cards .col-md-9 p.float-left {
		margin-bottom:0;
		margin-top: 8px;
		width: 100%;
	}
	.most-container .most-cards .col-md-9 p.float-right {
		float: left;
	}
	.col-md-4.small-img {
		width: 50%;
		float: left;
	}
	.col-md-4.res-left-form {
	    width: 50%;
    	float: left;
	}
	.col-md-4.med-img {
		padding-left: 10px !important;
	    margin-left: 30%;
	    margin-right: 30%;
	    margin-bottom: 20px;
	}
	.col-md-12.usr-detail {
		width: 100%;
	}
	.usr-detail .col-md-6 .form-group .col-md-5 {
		width: 41.66666667%;
    	float: left;
	}
	.usr-detail .col-md-6 .form-group .col-md-7 {
		width: 58.33333333%;
    	float: left;
	}
	/*.usr-detail > .col-md-2 {
	    width: 148px;
	    margin-top: 20px;
	}*/
	.res-dtl-text .col-md-4 {
		width: 33.33333333%;
		float: left;
	}
	.res-dtl-text .col-md-8 {
	    width: 66.66666667%;
		float: left;
	}
	.res-dtl-text .col-md-3 {
		width: 25%;
		float: left;
		margin-top: 20px;
	}
	.res-dtl-text .col-md-9 {
	    width: 75%;
		float: left;
	}
	.res-dtl-text > .total-wrap .col-md-6 {
	    width: 50%;
		float: left;
	}
	.col-sm-12.res-nopad {
		padding: 0 !important;
	}
	.res-mg-b20 {
		margin-bottom: 20px;
	}
	/*#purchase_transaction_detail > .col-md-6 {
	    width: 50%;
	}*/
	/*#purchase_transaction_detail > .col-md-6 .total-wrap .col-md-12 .col-md-6 {
		width: 50%;
		float: left;
	}*/
	/*#purchase_transaction_detail > .col-md-6 .total-wrap .col-md-12 .col-md-6:first-child {
		margin-top: 20px;
	}*/
	#purchase_transaction_detail > .col-md-6 .total-wrap .col-md-12 .col-md-6 {
		margin-top: 0;
	}
	#purchase_transaction_detail > .col-md-6 .total-wrap .col-md-12 .col-md-6 .float-right {
		text-align: right;
	}
	/*.trs-detail .col-md-6 {
		width: 50%;
		float: left;
	}*/
	.trs-detail .col-md-6 > div > div > .col-md-6:first-child,
	.trs-detail .col-md-6 > div > div > .col-md-5 {
		width: 41.66666667%;
    	float: left;
	}
	.trs-detail .col-md-6 > div > div > .col-md-6:last-child,
	.trs-detail .col-md-6 > div > div > .col-md-7 {
		width: 58.33333333%;
    	float: left;
	}
	.card-footer > .col-md-4 {
		width: 50% !important;
	}
}

@media only screen and (min-width: 769px) and (max-width: 900px) {

	.no-pad-right.res-no-pad-left {
		padding-left: 0 !important;
		padding-right: 10px !important;
	}
	.search-form {
		width: unset !important;
	}
	.login-container .login-page .login-form {
	    width: 50vw;
	    max-width: 460px;
	}
	.login-page .panel-body {
	    padding: 0 64px !important;
	}
	.login100 {
	    width: 50vw;
	}
	.most-cards {
		width: 30% !important;
		height: 277px;
		vertical-align: top;
    	display: inline-block !important;
    	border-bottom: unset !important;
	}
	.dataTables_length {
		margin-left: 0 !important;
	}
	.dataTables_filter {
		margin-right: 0 !important;
	}
	.dataTables_filter > label {
		padding-right: 0 !important;
	}
	.dataTables_filter > label input {
		margin-right: 0 !important;
	}
}

@media only screen and (min-width: 769px) {

	/* div::-webkit-scrollbar {
		display: none;
	} */
	.search-wrapper i {
		margin: 6px;
	}
	.sidebar-xs .sidebar-main .sidebar-user .media-left > .img-sm, .sidebar-xs .sidebar-main .sidebar-user .media-right > .img-sm {
	    margin: 0 !important;
	}
	.sidebar-xs .sidebar-main .navigation > li > a > i {
    	margin: 2px auto !important;
	}
	.sidebar-xs .sidebar-main.sidebar-default .navigation > li > a > span {
	    background-color: #EEF1F6 !important;
	    border: unset !important;
	    color: #354359 !important;
	}
	.nav-tabs.nav-tabs-bottom > li.active > a:after {
	    background-color: #54B8F3 !important;
	}
	.nav-tabs.nav-tabs-bottom > li > a:after {
		height: 3px !important;
	}

}

@media only screen and (max-width: 768px) {
	.no-pad-right.res-no-pad-left {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	.password-container .page-container {
		height: calc(100% - 93px);
	}
	.password-container > .page-container > .page-content {
	    height: 100%;
	}

	.login-page .content {
		padding: 0 !important;
	}
	.login-container .login-page .login-form {
	    width: 100vw;
	}
	.login100 {
		display: none !important;
	}
	.content {
    	padding: 0 20px 20px 20px !important;
	}
	.dashboard-cursor.col-xs-6 {
		text-align: center;
	}
	.datatable-header {
		display: block !important;
	}
	.datatable-footer {
		display: block;
	}
	.datatable-footer div{
		display: inline-block;
	}
	.datatable-footer .vmore{
		float: right !important;
	}
	.dataTables_filter {
	    float: right !important;
	    margin-right: 0 !important;
	}
	.tabbable .nav > li {
	    position: relative;
	    display: inline-block;
	}
	.nav-tabs {
		padding: 0;
		border: unset;
	}
	.nav-tabs:before {
	    content: "";
	    position: absolute;
	    bottom: 0 !important;
	    left: 0;
	    width: 100%;
	    height: 1px;
	    background-color: #ddd;
	    margin: 0;
	}
	.nav-tabs > li.active > a:after, .nav-tabs > li.active > a:hover:after, .nav-tabs > li.active > a:focus:after {
	    content: '';
	    position: absolute;
	    top: unset;
	    bottom: 0 !important;
	    left: 0;
	    bottom: 0;
	    height: 3px;
	    width: 100%;
	    background-color: transparent;
	}
	.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	    border: 0;
	    background-color: #fff;
	}
	.table-responsive {
		border: unset;
	}
	.content-wrapper.padding-t47 {
		padding-top: 0 !important;
		min-height: calc(100vh - 92px);
	}
	.card-custom.res-dashcard>.col-md-10 .info-wrap {
		width: 48%;
    	display: inline-block;
	}
	.card-custom.res-dashcard .col-md-10 .border-dotted, .card-custom.res-dashcard .col-md-10 .clearfix {
    	display: none !important;
	}
	.most-cards {
		width: 22% !important;
		height: 277px;
		vertical-align: top;
    	display: inline-block !important;
    	border-bottom: unset !important;
	}
	.content-wrapper.padding-t47 {
		height: 100%;
	}
	.nav-tabs > li.float-left {
		float: left !important;
	}
	.nav-tabs > li > a.text-center {
		text-align: center !important;
	}
	/*#purchase_transaction_detail > .col-md-6.float-right {
		width: 100%;
	}*/
}
@media only screen and (min-width: 641px) and (max-width: 768px) and (orientation: landscape) {
	.card-custom.res-dashcard>.col-md-2>.arrow-wrap {
		margin-top: 45px;
	}
}
@media only screen and (min-width: 641px) and (max-width: 768px) {
	.profile-container,
	.profile-container > .page-container > .page-content {
		height: 100%;
	}

	.res-no-pad-sm {
		padding: 0;
	}

	.res-btn > div.col-sm-4.col-xs-12 {
		width: 33.33333333% !important;
	}

	.res-btn > div.col-sm-3.col-xs-12 {
		width: 25% !important;
	}
}

@media only screen and (max-width: 640px) {
	.password-container > .page-container > .page-content {
		height: 100%;
	}
	label {
		font-weight: 600;
	}
	h4.panel-title {
		margin-bottom: 10px;
	}
	.res-no-pad-sm {
		padding: 0;
	}
	.res-no-pad-xs {
		padding: 0;
	}
	.res-form {
		margin-bottom: 20px;
	}
	
	.res-scroll {
		overflow-x: scroll;
	}
	.res-btn > div.col-sm-4.col-xs-12, .res-btn > div.col-sm-3.col-xs-12 {
		padding: 0 !important;
		margin-bottom: 10px !important;
	}

	.login-page .panel-body {
	    padding: 0 46px !important;
	}
	.search-form {
    	width: 100% !important;
	}
	.navbar-right .dropdown-user {
		border-bottom: 1px solid #d5d5d5;
	}
	.col-md-4.small-img {
		width: unset;
		float: none;
		margin-bottom: 20px;
		padding-left: 10px !important;
	}
	.col-md-4.res-left-form {
	    width: unset;
    	float: none;
	}
	.col-md-4.med-img {
	    margin-left: 0;
	    margin-right: 0;
	}
	.usr-detail > .col-md-2 {
	    width: 100%;
	    float: none;
	}
	.trs-detail > .col-md-6 {
		width: 100%;
	}
	.trs-detail > .col-md-6 + .col-md-6 {
		margin-top: 20px;
	}
	.res-dtl-text .col-md-3 {
		width: 40%;
	}
	.res-dtl-text .col-md-9 {
	    width: 60%;
	}
	.dataTables_filter, .dataTables_length {
	    float: left !important;
	    margin-left: 20px !important;
	    width: 100% !important;
	}
	.dataTables_filter label, .dataTables_length label{
	    float: left !important;
	}
	#purchase_transaction_detail > form.margin-t20 {
		width: 100%;
	}
	#purchase_transaction_detail > .col-md-6.float-right {
		width: 100%;
	}
	.most-cards {
	    width: 100% !important;
	    height: auto;
	    vertical-align: top;
	    display: inline-block !important;
	    border-bottom: unset !important;
	}
	.card-footer > .col-md-4 {
		width: 100% !important;
	}
	.btn-wrap-print-a5 .col-md-6{
		width:100%;
	}
	.btn-wrap-print-a5 .col-md-6:first-child {
		margin-bottom: 10px;
	}
	.btn-print-wrap .col-md-6{
		width:100%;
	}
	.btn-print-wrap .col-md-6:first-child {
		margin-bottom: 10px;
	}
}

@media only screen and (max-width: 460px) {

	.card > .panel-heading > h4 + .float-right > .btn {
		margin-right: 10px;
	}
	#ecommerce_report_list_table_wrapper .dataTables_scrollBody {
		max-height: unset;
	}
	.struk-wrap {
		max-width: 100%;
	}
	.res-dashcard > div.col-md-2 {
		margin: 0 !important;
	}
	.res-dashcard > div.col-md-2 > .arrow-wrap {
		margin-top: 66px !important;
	}
	.res-dashcard > div.col-md-10 > .info-wrap:first-child {
		padding-bottom: 0;
	}
	.res-dashcard > div.col-md-10 > .info-wrap:last-child {
		padding-top: 5px;
	}
	.res-dashcard > div.col-md-10 > .info-wrap {
		width: 100% !important;
	}
	.res-dashcard > div.col-md-10 > .info-wrap > div.col-md-12 > div.col-xs-12 {
		margin-bottom: 5px;
	}
	.res-dashcard > div.col-md-10 > .info-wrap > div.col-md-12 > div.col-xs-12 > h4 {
		display: inline-block;
    	width: auto;
    	margin-right: 4px;
	}
	.res-dashcard > div.col-md-10 > .info-wrap > div.col-md-12 > div.col-xs-12 > span.dashboard-date-detail {
		display: inline-block;
	}
	.res-dashcard > div.col-md-10 > .info-wrap > div.col-md-12 > div.col-sm-6.padright-only {
		width: 40%;
    	float: left;
	}
	.res-dashcard > div.col-md-10 > .info-wrap > div.col-md-12 > div.col-sm-6.no-padding {
		width: 60%;
    	float: left;
	}
	/*.dashboard-info-mobile {
		flex-direction: column;
	}*/
	/*.dashboard-info-mobile > .col-sm-6.res-fourcol {
		width: 100%;
	    float: none;
	    padding-right: 0px !important;
    	padding-left: 0px !important;
	}*/
	.dashboard-info-mobile > .col-sm-6.res-fourcol > .panel.panel-flat {
		margin-bottom: 10px;
	}
	.dashboard-info-mobile > .col-sm-6.res-fourcol > .panel.panel-flat > .panel-body > .card-custom > div > .info-wrap > div.col-md-12 {
		display: flex;
    	align-items: center;
	}
	.dashboard-info-mobile > .col-sm-6.res-fourcol > .panel.panel-flat > .panel-body > .card-custom > div > .info-wrap > div.col-md-12 > div.col-sm-4 {
		width: 40%;
	    float: left;
	    height: 100%;
	}
	.dashboard-info-mobile > .col-sm-6.res-fourcol > .panel.panel-flat > .panel-body > .card-custom > div > .info-wrap > div.col-md-12 > div.col-sm-8 {
		width: 60%;
	    float: left;
	    text-align: left;
	}
	.res-hidden {
		display: none;
	}
	.res-tab ul li a {
		height: 64px;
	    display: flex;
	    align-items: center;
	    text-align: center;
	    justify-content: center;
	}
	.modal-body div ul.timeline li > p {
		padding: 0;
	}
	ul.timeline {
	    margin: 0px 0px 0px 35px;
	}
	ul.timeline-icon-tracking {
	    width: 100%;
	    display: flex;
	    align-items: center;
	    justify-content: space-between;
	    min-width: unset;
	}
	ul.timeline-icon-tracking li:after {
	    top: 35px;
	    left: 60px;
	    width: 20px;
	}
	ul.timeline-icon-tracking li{
	    width: auto;
	}
	.modal .modal-lg .res-lg-modal, .modal .modal-md .res-md-modal {
		max-width: 340px;
	}
	.modal-body form > div.res-tbl-btn > .panel-heading {
	    display: initial;
	}
	.modal-body form > div.res-tbl-btn > .panel-heading > .float-right {
	    position: fixed;
	}
	h4.panel-title {
		width: 100%;
	}
	h4.panel-title + div.float-right {
		float: left;
		width: 100%;
	}
	.datatable-header {
		text-align: left !important;
	}
	.datatable-header label span {
		min-width: 46px;
	}
	.dataTables_length {
	    float: none !important;
	    margin-left: 0 !important;
	    text-align: left !important;
	}
	.dataTables_filter {
	    margin-right: 0 !important;
	    margin-left: 0 !important;
	    text-align: left !important;
	}
	.label-wrapper {
		max-width: 86px;
	}
	.tab-in label {
	    padding-left: 0;
	}
}
/* iPad Pro */
@media only screen and (min-device-width: 1024px) and (orientation:portrait) {
	.modal-footer .res-no-pad-sm {
		padding-left: 0 !important;
		padding-right: 0 !important;
		padding-top: 0 !important;
		padding-bottom: 0 !important;
	}
	.no-pad-right.res-no-pad-left {
		padding-left: 0 !important;
		padding-right: 10px !important;
	}
	.page-container {
		height: calc(100% - 47px);
	}
}
/* iPad */
@media only screen and (min-device-width: 768px) and (orientation:portrait) {

	.res-dashcard > div.col-md-2 > .arrow-wrap {
		margin-top: 0 !important;
	}
	.content-wrapper.padding-t47 {
		min-height: calc(100vh - 92px);
	}
	.dashboard-container {
		height: 100%;
		min-height: 100%;
	}
	.page-content {
		height: fit-content;
		min-height: 100%;
	}
	.dashboard-container > .page-container {
		height: calc(100% - 92px);
	}
	.panel > .card > .card-footer > div {
		width: 50%;
	}
	.panel > .card > .card-footer > div.col-xs-12 {
		width: 100%;
	}
	#ecommerce_report_list_table_wrapper .dataTables_scrollBody {
		max-height: unset;
	}
}