body{
	font-family: 'Muli', sans-serif !important;
}
.col{
	padding-left:10px !important;
	padding-right: 10px !important;
}
.navbar{
	padding: 28px 16px !important;
}
.text-muted{
	color:#9e9e9e !important;
}
a:hover, a:focus, a:active{
	text-decoration: none !important;
}
form.search-product input[type="search"]{
  background: #efefef;
  border: 1px solid #efefef;
  color: #a1a1a1 !important;
  border-radius:5px !important;
  padding-left: 45px !important;
}
input, select{
	border-color: #EBEBEB !important;
	border-style: solid  !important;
	border-width: 0 0 1px 0  !important;
	border-radius: 0  !important;
	padding-left: 0px  !important;
	padding-right: 0px  !important;
	color: #3A3A3A  !important;
}
input:focus,input:active,
select:focus,select:active{
	box-shadow: none !important;
}
.btn-member .col{
  padding-right: 0px !important;;
}
.btn-member .btn-warning,
.btn-member .btn-warning:hover{
  color:#fff;
  background: #FF8900;
}
.btn-member .btn-outline-warning{
  color: #FF8900;
  border: 1px solid #FF8900;
}
.btn-member .btn-outline-warning:hover{
  color:#fff;
  background: #FF8900;
}
.btn-member ul.nav-notif{
	position: absolute;
	z-index: 1000;
	left: 30px;
}
.btn-member ul.nav-notif li a{
	padding: 4px 6px;
	border-radius: 5px;
	height: 38px;
	width: 38px;
	display: block;
	position: relative;
}
.btn-member ul.nav-notif li a:hover,
.btn-member ul.nav-notif li a:active,
.btn-member ul.nav-notif li a:focus{
	background: #EFEFEF;
}
.btn-member ul.nav-profil{
	position: absolute;
	z-index: 100;
	right: 0;
}
.btn-member ul.nav-profil li div.dropdown-menu{
	padding:20px;
	position: absolute;
}
.btn-member ul.nav-profil li a{
	width: 180px;
	padding: 4px !important;
	border-radius: 5px;
}
.btn-member ul.nav-profil li a:hover,
.btn-member ul.nav-profil li a:active,
.btn-member ul.nav-profil li a:focus
{
	background: #EFEFEF;
}
.btn-member .dropdown-toggle::after {
    display: none;
}
.notif{
  position: absolute;
  right: 5px;
  top: 3px;
  background: #FF3636;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
.navbar-light .dropdown-menu.notify-drop {
  min-width: 330px;
  background-color: #fff;
  max-height: 380px;
  padding: 0px;
  position: relative;
  border-radius:5px;
}
.navbar-light .dropdown-menu.notify-drop .drop-content {
  min-height: 300px;
  max-height: 300px;
  overflow-y: scroll;
  margin-bottom: 55px
}
.navbar-light .dropdown-menu.notify-drop .drop-content::-webkit-scrollbar-track
{
  background-color: #F5F5F5;
}
.navbar-light .dropdown-menu.notify-drop .drop-content::-webkit-scrollbar
{
  width: 8px;
  background-color: #F5F5F5;
}
.navbar-light .dropdown-menu.notify-drop .drop-content::-webkit-scrollbar-thumb
{
  background-color: #ccc;
}
.navbar-light .dropdown-menu.notify-drop .drop-content > li {
  padding: 20px 20px 0px 20px;
}
.navbar-light .dropdown-menu.notify-drop .drop-content > li.new {
  background-color: #EDFFEE;
}
.navbar-light .dropdown-menu.notify-drop .drop-content > li:hover {
  background-color: #fcfcfc;
}
.navbar-light .dropdown-menu.notify-drop .allRead {
  margin-right: 7px;
}
.navbar-light .dropdown-menu.notify-drop .drop-content > li a {
  font-size: 12px;
  font-weight: normal;
  width: 100%;
  height: auto;
  border-bottom:1px solid #efefef;
  border-radius:0;
  padding: 0 0 10px 0;
  color:inherit;
}
.navbar-light .dropdown-menu.notify-drop .drop-content > li a:hover {
  background: #fcfcfc;
}
.navbar-light .dropdown-menu.notify-drop .drop-content > li:first-child {
  border-radius: 5px 5px 0px 0px !important;;
}
.navbar-light .dropdown-menu.notify-drop .drop-content > li a .notif-title {
  font-size: 14px;
  font-weight: bold;  
  margin-bottom: 5px;
}
.navbar-light .dropdown-menu.notify-drop .drop-content > li a .notif-status {
  font-size: 14px;
  margin-bottom: 0;
}
.navbar-light .dropdown-menu.notify-drop .drop-content > li a .notif-date {
  font-size: 12px;
  margin-top: 18px;
}
.navbar-light .dropdown-menu.notify-drop .notify-drop-footer {
  border-top: 1px solid #e2e2e2;
  bottom: 0;
  position: absolute;
  padding: 15px 20px;
  background: #ffffff;
  width: 100%;
  border-radius: 0 0 5px 5px;
  z-index: 2;
  display: inline-block;
}
.navbar-light .dropdown-menu.notify-drop .notify-drop-footer a {
  color: #FF8900;
  text-decoration: none;
  font-size: 14px;
  padding:0;
  display: inline;
  line-height: 24px;
}
.navbar-light .dropdown-menu.notify-drop .notify-drop-footer a.right {
  float: right;
  width: auto;
  clear: both;
  line-height: 25px;
  height: auto;
}
.navbar-light .dropdown-menu.notify-drop .notify-drop-footer a:hover {
  background:none;
}
.inner-addon {
  position: relative;
  width:100%;
}
.inner-addon i {
  position: absolute;
  padding: 10px;
  pointer-events: none;]
}
.left-addon i  {
  left:  12px;
  top: 8px;
}
.left-addon input  { padding-left:  45px; }
.carousel-inner{
	margin-bottom: 16px;
}
.promo{
	position: relative;
	padding:26px 23px !important;
}
.promo img{
	position: absolute;
	bottom: 40px;
	right: 20px;
	height:125px;
}
.promo p.card-text{
	margin-bottom: 15px !important;
	font-size: 14px;
}
.promo a.btn{
	width:148px;
}
.promo-o h5{
	font-weight: bold;
	color: #FB7E00;
}
.promo-o a.btn{
	background: #FFE6C9;
	border: 1px solid #FFE6C9;
	color: #FB7E00;
}
.promo-g h5{
	font-weight: bold;
	color: #00A00C;
}
.promo-g a.btn{
	background: #EBF7EC;
	border: 1px solid #EBF7EC;
	color: #00A00C;
}
.promo-b h5{
	font-weight: bold;
	color: #3487B1;
}
.promo-b a.btn{
	background: #E6F6FF;
	border: 1px solid #E6F6FF;
	color: #3487B1;
}
.carousel-indicators{
	position: unset !important;
	margin-bottom: 20px;
}
.carousel-indicators li{
	background: #DEDEDE !important;
	width:7px !important;
	height:7px !important;
	border-radius:50%;
}
.carousel-indicators .active{	
	background: #088262 !important;
}
.category-product{
	text-align: center;
	color:#363435;
}
.category-product img{
	width: 75px;
}
.category-product:hover,
.category-product.active{
	color: #FF8A01;
}
.section-text{
	margin-top: 28px;
	margin-bottom: 20px
}
.section-text strong{
	color: #00A00C;
	margin-right: 16px;
}
.section-text a{
	color: #A5A5A5;
	text-decoration: none;
}
.section-text a:hover{
	color: #FF8A01;
	text-decoration: none;
}

.product-list{
	-ms-flex: 0 0 20% !important;
	flex: 0 0 20% !important;
	max-width: 20% !important;
	position: relative !important;
	width: 100% !important;
	min-height: 1px !important;
	padding-right: 15px !important;
	padding-left: 15px !important;
	margin-bottom: 30px;
}
.product-list, .product-list:hover,
.promo-list, .promo-list:hover{
	text-decoration: none;
	color:#363435;
}
.product-list span.badge,
.promo-list span.badge{
	position: absolute;
	top: 12px;
	width: 40px;
	background: #FF4848;
	border: #FF4848;
	color:#ffffff;
	font-weight: normal;
	padding: 14px 8px;
	border-radius: 0px 3px 3px 0px;
}
.product-list .card-subtitle,
.promo-list .card-subtitle{
	display:block;
	margin-top: 16px;
	font-weight: normal;
	font-size: 12px;
}
.product-list .card-title,
.promo-list .card-title{
	color:#363435;
	display:block;
    font-size: 16px;
    margin-bottom: 10px;
}
.product-list a:hover,
.promo-list a:hover{
	text-decoration: none;
}
.product-list h1 strike,
.promo-list h1 strike{
    font-size: 16px;
}
.product-list h1 span,
.promo-list h1 span{
    font-size: 14px;
}
.product-list h1,
.promo-list h1{
    font-size: 18px;
    font-weight: 600;
}
footer .mr-md-auto a{
	color:#6c757d !important;
}
footer .mr-md-auto a:hover{
	color:#FF8900 !important;
}
footer a img{
	height:36px;
	margin-left:10px;
}
footer p{
	color:#9d9d9d !important;
}
.btn-cart{
	height: 52px;
	width: 52px;
	background: #00A00C;
	border-radius: 50% !important;
	position: fixed;
	right: 35px;
	bottom: 35px;
}
.btn-cart[data-badge]:after {
	content: attr(data-badge);
	position: absolute;
	top: -10px;
	right: -10px;
	font-size: 12px;
	background: #FF3636;
	color: white;
	width: 28px;
	height: 28px;
	text-align: center;
	line-height: 28px;
	border-radius: 50%;
	box-shadow: unset;
	font-weight: bold;
}

/*default all modal*/
.modal-dialog{
	width: 426px !important;
}
.modal-dialog .modal-content{
	border: none;
}
.modal-dialog .modal-header,
.modal-dialog .modal-body{
	padding: 30px 43px 0px;
	border-bottom: none;
}
.modal-dialog .modal-footer{
	display: block;
	border-top: none;
	padding: 37px 43px;
}

/*modal for shopping cart*/
#shoppingCart{
	padding-right: 0px !important;
}
#shoppingCart .modal-dialog{
	float: right;
	height: 100%;
	margin: auto;
}
#shoppingCart .modal-content{
	border-radius: 0px;
	height: 100%;
	overflow-y: auto;
}
#shoppingCart .modal-header .modal-title{
	color: #00A00C;
	font-weight: 600;
	font-size: 18px;
}
#shoppingCart .modal-body .border-bottom{
	padding-bottom: 16px;
}
#shoppingCart .modal-body .border-bottom .card-subtitle{
	color: #A5A5A5;
	font-size: 14px;
}
#shoppingCart .modal-body .border-bottom .add-product{
	color: #343a40;
	font-weight: 400;
}
#shoppingCart .modal-body .border-bottom .add-product:hover{
	text-decoration: none;
}
#shoppingCart .modal-body ul{
	margin-bottom: 200px;
}
#shoppingCart .modal-body ul li{
	padding: 0px;
    margin-top: 20px;
    border: 0px;
}
#shoppingCart .modal-body ul li img{
	border-radius: 5px;
    border: 1px solid rgba(0,0,0,.2);
    width: 80px;
    height: 80px;
    object-fit: contain;
}
#shoppingCart .modal-body ul li label.card-subtitle{
	font-size: 14px;
	text-overflow: ellipsis;
    overflow: hidden;
    width: 160px;
    white-space: nowrap;
}
#shoppingCart .modal-body ul li label.float-right{
	font-size: 14px;
    font-weight: bold;
    margin-top: -3px;
}
#shoppingCart .modal-body ul li .item-amount{
	position: relative;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
}
#shoppingCart .modal-body ul li .input-group .btn-left{
    position: absolute;
    padding: 0 8px;
    left: 0;
    background: #FF8900;
    width: 38px;
    height: 38px;
    text-align: center;
    border-radius: 50%;
    z-index: 1;
}
#shoppingCart .modal-body ul li .input-group .btn-right{
	position: absolute;
    padding: 0 8px;
    right: 0;
    background: #FF8900;
    width: 38px;
    height: 38px;
    text-align: center;
    border-radius: 50%;
}
#shoppingCart .modal-body ul li .input-group input{
    background: #FFF2E3;
    border: 0;
    text-align: center;
    border-radius: 20px;
}
#shoppingCart .modal-body ul li .input-group input:focus{
    z-index: unset;
    box-shadow: unset;
}
#shoppingCart .modal-footer{
	position: fixed;
	width: 100%;
	bottom: 0;
	background: #fff;
	z-index: 1;
}
#shoppingCart .modal-footer .total{
	border: 1px solid #ededed;
	padding: 18px 13px;
	margin-right: 0px; 
	margin-bottom: 22px;
	border-radius: 3px;
}
#shoppingCart .modal-footer .total .total-text{
	margin-bottom: 0px;
}
#shoppingCart .modal-footer .total .total-price{
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 0px;
	line-height: 22px;
}
#shoppingCart .modal-footer .btn-success{
	background: #00A00C;
	color: #ffffff;
	border: 1px solid #00A00C;
	height: 42px;
	margin-left: 0px; 
}
/*login style*/
.login-row{
	margin:80px 0px 40px;
}
.login-row .card{
	width: 426px;
}
.login-row .card .card-body{
	padding: 30px 43px;
}
.login-row .card h5{
	font-size: 35px;
	font-weight: bold;
	margin-bottom: 40px;
}
.login-row .card h4{
	font-size: 24px;
	color:#00A00C;
}
.login-row .card label{
	font-size: 14px;
	color: #A2A2A2;
}
.login-row .card input{
	border-color: #EBEBEB;
	border-style: solid;
	border-width: 0 0 1px 0;
	border-radius: 0;
	padding-left: 0px;
	padding-right: 0px;
	color: #3A3A3A;
}
.login-row .card input:focus,
.login-row .card input:active{
	box-shadow: none;
}
.login-row .card input,
.login-row .card .input-group-append a{
	border-color: #EBEBEB;
	border-style: solid;
	border-width: 0 0 1px 0;
	border-radius: 0;
	padding: 6px 0 14px 0;
	color: #3A3A3A;
}
.login-row .card .input-group-append a{
	padding-bottom: 6px !important;
}
.login-row .card .input-group-append a:hover,
.login-row .card .input-group-append a:focus,
.login-row .card .input-group-append a:active{
	background: #ffffff !important;
	border-color: #EBEBEB !important;
}
.login-row .card .alert{
	background: #FFE7ED;
	border: 0;
	color: inherit;
	padding: 20px 25px;
	font-size: 14px;
}
.login-row .card .card-footer{
	padding: 30px 43px;
	background: #ffffff;
	border-top: 0;
}
.login-row .card .card-footer label{
	margin-bottom: 20px;
}
.login-row .card .card-footer label.total-text{
	margin-bottom: 0px;
	font-size: 14px;
	color: inherit;
	display: block;
}
.login-row .card .card-footer label.total-price{
	font-size: 20px;
	font-weight: bold;
	color: inherit;
	display: block;
}
.login-row .card .card-footer a{
	color: #00A00C;
}
.login-row .card .card-footer a:hover{
	text-decoration: none;
}
.login-row .card .card-footer .custom-control-label::before,
.login-row .card .card-footer .custom-control-label::after {
    top: .13rem;
}
.login-row .card .card-footer .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #00A00C;
}
.login-row .card .card-footer .custom-control-label::before::active,
.login-row .card .card-footer .custom-control-label::before::focus,
.login-row .card .card-footer .custom-control-label::after::active,
.login-row .card .card-footer .custom-control-label::after::focus {
    box-shadow: none;
}
.login-row .card .card-footer button{
	margin-left: 0px;
	background: #00A00C;
}
.login-row .login-profile{
  display: inline-block;
  position: relative;
}
.login-row .login-profile img{
  width: 120px;
  height: 120px;
  object-fit: contain;
}
.login-row .login-profile p{
  font-size: 20px;
}
.login-row .login-profile .btn-success{
	position: absolute;
	top:80px;
	right:0;
	background: #00A00C;
	color: #ffffff;
	border: 1px solid #00A00C;
	border-radius: 50px;
	padding:7px 10px;
}
.login-row .total-tagihan .total-text{
	font-size: 16px;
	color: inherit;
}
.login-row .total-tagihan .total-id{
	font-size: 16px;
	color: inherit;
	float: right;
}
.login-row .total-tagihan .total-price{
	font-weight: bold;
	font-size: 24px;
	margin-bottom: 0px;
	line-height: 22px;
	float: right;
	color: #FF8900;
}
.login-row #upload {
	display: none;
}

.nav-password{
	max-width: 560px;
	margin: auto;
	position: relative !important;
}
.nav-password h1{
	font-size: 18px;
	font-weight: 400;
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
}
.nav-password a{
	z-index: 2;
}
.nav-detail{
	max-width: 1140px;
	margin: auto;
	position: relative !important;
}
.nav-detail h1{
	font-size: 18px;
	font-weight: 400;
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
}
.nav-detail a{
	z-index: 2;
}

/*style otp*/
.otp .form-group input{
	width: 36px;
	padding: 17px 5px;
	text-align: center;
	font-size: 32px;
	margin: 60px 8px 0; 
}
.otp h4{
	margin-top: 32px;
	margin-bottom: 24px;
	font-weight: bold;
}
.otp a{
	font-size: 14px;
	color:#474747;
}
/*detail produk*/
.detail-produk{
	margin: 30px 0px 60px 0px;
}
.detail-produk h3{
	font-size: 20px;
	font-weight: bold;
}
.detail-produk h1{
	margin-bottom: 0px;
	color: rgb(250, 89, 29);
	font-size: 24px;
	font-weight: bold !important;
	margin-bottom: 5px !important;
}
.detail-produk p{
	font-size: 14px;
	margin-bottom: 60px;
}
.detail-produk ul li{
	padding: 20px 0px;
}
.detail-produk ul li div{
	padding-left: 0px !important;
}
.detail-produk ul li div p.detail-title,
.detail-produk ul li p.detail-title{
	font-size: 14px;
	margin-bottom: 5px;
}
.detail-produk ul li div p.detail-cont{
	font-size: 14px;
	margin-bottom: 0px;
	color: #00A00C;
}
.detail-produk ul li .input-group{
	width: 180px;
	margin-bottom: 20px;
}
.detail-produk ul li .input-group .btn-left{
    position: absolute;
    padding: 0 8px;
    left: 0;
    background: #FF8900;
    width: 38px;
    height: 38px;
    text-align: center;
    border-radius: 50%;
    z-index: 1;
}
.detail-produk ul li .input-group .btn-right{
	position: absolute;
    padding: 0 8px;
    right: 0;
    background: #FF8900;
    width: 38px;
    height: 38px;
    text-align: center;
    border-radius: 50%;
}
.detail-produk ul li .input-group input{
    background: #FFF2E3;
    border: 0;
    text-align: center;
    border-radius: 20px !important;
}
.detail-produk ul li .input-group input:focus{
    z-index: unset;
    box-shadow: unset;
}
.detail-produk ul li .btn-success{
	background: #00A00C;
	color: #ffffff;
	border: 1px solid #00A00C;
	height: 42px;
	margin-left: 0px;
	width: 180px;
}
.user-profile .profile-login img{
  width: 100%;
}
.user-profile .profile-login p.profile-name{
  font-size: 20px;
  margin-bottom: 0px;
  margin-top:5px;
}
.user-profile .profile-login a.profile-link{
  color: #00A00C;
  font-size: 14px;
}
.user-profile .list-group a.active{
  background-color: #00A00C;
  border-color: #00A00C;
}
.user-profile .card{
  border-radius: 5px;
}
.user-profile .nav-pills{
  border-bottom:1px solid #efefef;
}
.user-profile .nav-pills li a{
  color:inherit;
  padding:14px;
}
.user-profile .nav-pills li a.active{
  border-bottom:3px solid #00A00C;
  border-radius:5px 5px 0px 0px;
  background: #ffffff;
  color: #00A00C;
  font-weight: bold;
}
.user-profile .card .tab-content ul,
.user-profile .card ul.alamat-kirim{
  list-style: none;
  padding:20px 20px 0px 20px;
  margin-bottom: 0px;
}
.user-profile .card .tab-content ul li,
.user-profile .card ul.alamat-kirim li{
  background: #ffffff;
  border-radius: 5px;
  border: 1px solid #cccccc;
  padding:15px;
  margin-bottom: 20px;
  position: relative;
}
.user-profile .card ul.alamat-kirim li .dropdown{
	position: absolute;
	right: 20px;
}
.user-profile .card ul.alamat-kirim li .dropdown a.btn{
	padding: 0px;
	background: none;
	border: none;
}
.user-profile .card ul.alamat-kirim li .dropdown a.dropdown-item{
	padding: 4px 10px;
}
.user-profile .card .tab-content ul li:last-child,
.user-profile .card ul.alamat-kirim li:last-child{
  margin-bottom: 25px;
}
.user-profile .card .tab-content ul li a p,
.user-profile .card .tab-content ul li a label,
.user-profile .card ul.alamat-kirim li p,
.user-profile .card ul.alamat-kirim li label{
  color: #363435;
  margin-bottom: 0px; 
}
.user-profile .card .tab-content ul li a label,
.user-profile .card ul.alamat-kirim li label{
  margin-bottom: 8px; 
}
.user-profile .card .tab-content ul li a label.order-proses,
.user-profile .card ul.alamat-kirim li label.order-proses,
.order-detail ul li label.order-right.order-proses{
  color:#FF8900;
}
.user-profile .card .tab-content ul li a label.order-selesai,
.user-profile .card ul.alamat-kirim li label.order-selesai,
.order-detail ul li label.order-right.order-selesai{
  color:#00A00C;
}
.user-profile .card .tab-content ul li a p.order-id,
.user-profile .card ul.alamat-kirim li p.order-id{
  color: #474747;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 5px; 
}

/*detail order*/
.order-detail .card{
  padding:40px;
}
.order-detail h4{
  color:#00A00C;
  display: inline-block;
}
.order-detail .address-link{
  color:#00A00C;
  float:right;
}
.order-detail ul li{
  padding: 20px 0px;
  display: flex;
}
.order-detail ul li label.order-left{
  margin-bottom: 0px;
  color: #A2A2A2;
  width:50%;
}
.order-detail ul li label.order-right{
  margin-bottom: 0px;
  width:50%;
}
.order-detail .order-produk li{
  padding: 20px;
  margin-bottom: 20px;
  border-radius:5px;
  display: block;
}
.order-detail .order-produk li:last-of-type{
  margin-bottom: 0px;
}
.order-detail .order-produk p.order-jumlah{
  margin: 0 auto;
}
.order-detail .order-produk p.order-title{
	margin-bottom: 15px;
	margin-top: 7px;
}
.order-detail .order-produk p.order-price{
	font-weight: bold;
	margin-bottom: 0px;
}
.order-detail .order-produk img{
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,.2);
  width: 80px;
  height: 80px;
  object-fit: contain;
}
.order-detail .total{
  margin-right: 0px;
  margin-bottom: 15px;
  border-radius: 5px;
  margin-top: 25px;
}
.order-detail .total .total-text{
  margin-bottom: 0px;
  display: block;
}
.order-detail .total .total-price{
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 0px;
  line-height: 22px;
  display: block;
}
.order-detail .subtotal .total-text{
	font-size: 16px;
}
.order-detail .subtotal .total-price{
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 0px;
	line-height: 22px;
	float: right;
}
.order-detail .btn-success{
	background: #00A00C;
	color: #ffffff;
	border: 1px solid #00A00C;
	height: 42px;
	margin-left: 0px;
}
.order-detail .input-group input{
	border: 1px solid #C2C2C2 !important;
	border-radius: 5px !important;
	padding: 6px 12px !important;
	color: #3A3A3A !important;
	background: #F9F9F9 !important;
	margin-right: 15px !important;
	height: 42px !important;
}
.order-detail .input-group button{
	border-radius: 5px !important;
	background: #00A00C;
	color: #ffffff;
	border: 1px solid #00A00C;
	height: 42px;
}
.order-detail .alamat-kirim{
	background: #F9F9F9;
	border: none;
}

/*timeline*/
ul.timeline-icon{
  display: inherit;
  width: 50%;
  margin-bottom: 50px;
}
ul.timeline-icon li{
  width: 50%;
  text-align: center;
  position: relative;
  display: inline-block;
}
ul.timeline-icon li:after {
  content: ' ';
  background: #D8D8D8;
  display: inline-block;
  position: absolute;
  top: 45px;
  left: 53px;
  width: 100px;
  height: 2px;
}
ul.timeline-icon li:last-child:after {
  display:none;
}
ul.timeline-icon li .icon-circle{
  background: #f9f9f9;
  height: 53px;
  width: 53px;
  border-radius: 30px;
  padding: 10px 5px;
  text-align: center;
  display: block;
}
ul.timeline-icon li p{
  display: block;
  margin-left:-60px;
  margin-top:5px;
}
ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline > li {
    margin: 0;
    padding-left: 20px;
    display: block;
    position: relative;
}
ul.timeline > li p {
    margin-bottom: 0;
}
ul.timeline > li:after {
    content: ' ';
    background: #C2C2C2;
    display: inline-block;
    position: absolute;
    top: 40px;
    left: -20px;
    width: 2px;
    height: 100px;
}
ul.timeline > li.active:after {
    content: ' ';
    background: #00A00C;
    display: inline-block;
    position: absolute;
    top: 40px;
    left: -20px;
    width: 2px;
    height: 100px;
}
ul.timeline > li:last-child:after {
    display: none;
}
ul.timeline > li:before {
    content: ' ';
    background: #C2C2C2;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #C2C2C2;
    left: -29px;
    width: 20px;
    height: 20px;
    z-index: 400;
}
ul.timeline > li.active:before {
    content: ' ';
    background: #00A00C;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #00A00C;
    left: -29px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

ul.list-alamat li{
	position: relative;
	padding-top: 0px;
}
ul.list-alamat li label{
	border-radius:5px;
	padding:20px
}
ul.list-alamat li p{
	margin-bottom:0px;
}
ul.list-alamat li p.order-id{
	margin-bottom:5px;
}
ul.list-alamat.list-group input[type="radio"] {
	display: none;
}
ul.list-alamat.list-group input[type="radio"] + .list-group-item {
	cursor: pointer;
}
ul.list-alamat.list-group input[type="radio"] + .list-group-item:before {
	content: url("../img/ic-radio.svg");
	position: absolute;
	right: 20px;
	top: 43%;
}
ul.list-alamat.list-group input[type="radio"]:checked + .list-group-item {
	border: 1px solid #00A00C;
}
ul.list-alamat.list-group input[type="radio"]:checked + .list-group-item:before {
	content: url("../img/ic-radio-selected.svg");
}
.trf {
  border-radius: 0px;
}
.trf a{
  border-bottom: 1px solid #EDEDED;
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 0px;
  padding: 15px
}
.trf img{
  border:none;
}
.trf p.order-title{
  margin-bottom: 5px;
  font-size: 14px;
}
.trf p.order-price{
  margin-bottom: 0px;
  font-size: 14px;
  color:#A2A2A2;
  line-height: 16px;
}




/*icon*/
.ic-search {
	background: url("../img/ic-search.svg");
	background-repeat: no-repeat;
    display: inline-block;
	width: 14px;
    height: 14px;
    vertical-align: middle;
    margin: auto 10px 1px 0;
}
.ic-sort {
	background: url("../img/ic-sort.svg");
	background-repeat: no-repeat;
	display: inline-block;
	width: 20px;
	height: 20px;
	vertical-align: middle;
	margin-left: 20px;
	background-size: 20px 20px;
}
.ic-filter {
	background: url("../img/ic-filter.svg");
	background-repeat: no-repeat;
	display: inline-block;
	width: 20px;
	height: 20px;
	vertical-align: middle;
	margin-left: 20px;
	background-size: 20px 20px;
}
.ic-shop-cart{
	background: url("../img/ic-shop-cart.svg");
	background-repeat: no-repeat;
	display: inline-block;
	width: 26px;
	height: 24px;
	vertical-align: middle;
	background-size: 26px 24px;
}
.ic-add-cart{
	background: url("../img/ic-add-cart.svg");
	background-repeat: no-repeat;
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: middle;
	background-size: 16px 16px;
	margin-bottom: 2px;
	margin-right: 3px;
}
.ic-cart-plus{
	background: url("../img/ic-cart-plus.svg");
	background-repeat: no-repeat;
	display: inline-block;
	width: 22px;
	height: 22px;
	vertical-align: middle;
	background-size: 22px 22px;
	margin-bottom: 2px;
	margin-right: 3px;
}
.ic-cart-minus{
	background: url("../img/ic-cart-minus.svg");
	background-repeat: no-repeat;
	display: inline-block;
	width: 22px;
	height: 22px;
	vertical-align: middle;
	background-size: 22px 22px;
	margin-bottom: 2px;
	margin-right: 3px;
}
.ic-eye-slash{
	background: url("../img/ic-eye-slash.svg");
	background-repeat: no-repeat;
	display: inline-block;
	width: 19px;
	height: 16px;
	vertical-align: middle;
	background-size: 19px 16px;
}
.ic-eye{
	background: url("../img/ic-eye.svg");
	background-repeat: no-repeat;
	display: inline-block;
	width: 19px;
	height: 16px;
	vertical-align: middle;
	background-size: 19px 16px;
}
.ic-left-arrow{
	background: url("../img/ic-left-arrow.svg");
	background-repeat: no-repeat;
	display: inline-block;
	width: 16px;
	height: 13px;
	vertical-align: middle;
	background-size: 16px 13px;
}
.ic-otp{
	background: url("../img/ic-otp.svg");
	background-repeat: no-repeat;
	display: inline-block;
	width: 19px;
	height: 22px;
	vertical-align: middle;
	background-size: 19px 22px;
}
.ic-notif{
	background: url("../img/ic-notif.svg");
	background-repeat: no-repeat;
	display: inline-block;
	width: 26px;
	height: 30px;
	vertical-align: middle;
	background-size: 26px 30px;
}
.ic-clock{
	background: url("../img/ic-clock.svg");
	background-repeat: no-repeat;
	display: inline-block;
	width: 26px;
	height: 30px;
	vertical-align: middle;
	background-size: 26px 30px;
}
.ic-pin-user{
	background: url("../img/ic-pin-user.svg");
	background-repeat: no-repeat;
	display: inline-block;
	width: 26px;
	height: 30px;
	vertical-align: middle;
	background-size: 26px 30px;
}
.ic-lock-open{
	background: url("../img/ic-lock-open.svg");
	background-repeat: no-repeat;
	display: inline-block;
	width: 26px;
	height: 30px;
	vertical-align: middle;
	background-size: 26px 30px;
}
.ic-logout{
	background: url("../img/ic-logout.svg");
	background-repeat: no-repeat;
	display: inline-block;
	width: 26px;
	height: 30px;
	vertical-align: middle;
	background-size: 26px 30px;
}
.ic-diproses{
	background: url("../img/ic-diproses.svg");
	background-repeat: no-repeat;
	display: inline-block;
	width: 31px;
	height: 32px;
	vertical-align: middle;
	background-size: 31px 32px;
}
.ic-diproses-a{
	background: url("../img/ic-diproses-a.svg");
	background-repeat: no-repeat;
	display: inline-block;
	width: 31px;
	height: 32px;
	vertical-align: middle;
	background-size: 31px 32px;
}
.ic-dikirim{
	background: url("../img/ic-dikirim.svg");
	background-repeat: no-repeat;
	display: inline-block;
	width: 35px;
	height: 32px;
	vertical-align: middle;
	background-size: 35px 32px;
}
.ic-dikirim-a{
	background: url("../img/ic-dikirim-a.svg");
	background-repeat: no-repeat;
	display: inline-block;
	width: 35px;
	height: 32px;
	vertical-align: middle;
	background-size: 35px 32px;
}
.ic-sampai{
	background: url("../img/ic-sampai.svg");
	background-repeat: no-repeat;
	display: inline-block;
	width: 29px;
	height: 32px;
	vertical-align: middle;
	background-size: 29px 32px;
}
.ic-sampai-a{
	background: url("../img/ic-sampai-a.svg");
	background-repeat: no-repeat;
	display: inline-block;
	width: 29px;
	height: 32px;
	vertical-align: middle;
	background-size: 29px 32px;
}
.ic-selesai{
	background: url("../img/ic-selesai.svg");
	background-repeat: no-repeat;
	display: inline-block;
	width: 41px;
	height: 32px;
	vertical-align: middle;
	background-size: 41px 32px;
}
.ic-selesai-a{
	background: url("../img/ic-selesai-a.svg");
	background-repeat: no-repeat;
	display: inline-block;
	width: 41px;
	height: 32px;
	vertical-align: middle;
	background-size: 41px 32px;
}
.ic-camera{
	background: url("../img/ic-camera.svg");
	background-repeat: no-repeat;
	display: inline-block;
	width: 18px;
	height: 21px;
	vertical-align: middle;
	background-size: 18px 21px;
}
.ic-arrow-right{
	background: url("../img/ic-arrow-right.svg");
	background-repeat: no-repeat;
	display: inline-block;
	width: 19px;
	height: 22px;
	vertical-align: middle;
	background-size: 19px 22px;
}
.ic-dot{
	background: url("../img/ic-dot.svg");
	background-repeat: no-repeat;
	display: inline-block;
	width: 23px;
	height: 27px;
	vertical-align: middle;
	background-size: 23px 27px;
}
.ic-edit{
	background: url("../img/ic-edit.svg");
	background-repeat: no-repeat;
	display: inline-block;
	width: 23px;
	height: 27px;
	vertical-align: middle;
	background-size: 23px 27px;
}
.ic-delete{
	background: url("../img/ic-delete.svg");
	background-repeat: no-repeat;
	display: inline-block;
	width: 23px;
	height: 27px;
	vertical-align: middle;
	background-size: 23px 27px;
}
