@font-face {
    font-family: Muli-Regular;
    src: local(Muli-Regular),
      url('../fonts/static/Muli-Regular.ttf') format("truetype");
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: Muli-Italic;
    src: local(Muli-Italic),
      url('../fonts/static/Muli-Italic.ttf') format("truetype");
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: Muli-Bold;
    src: local(Muli-Bold),
      url('../fonts/static/Muli-Bold.ttf') format("truetype");
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: Muli-BoldItalic;
    src: local(Muli-BoldItalic),
      url('../fonts/static/Muli-BoldItalic.ttf') format("truetype");
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: Muli-SemiBold;
    src: local(Muli-SemiBold),
      url('../fonts/static/Muli-SemiBold.ttf') format("truetype");
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: Muli-SemiBoldItalic;
    src: local(Muli-SemiBoldItalic),
      url('../fonts/static/Muli-SemiBoldItalic.ttf') format("truetype");
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: Muli-Medium;
    src: local(Muli-Medium),
      url('../fonts/static/Muli-Medium.ttf') format("truetype");
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: Muli-MediumItalic;
    src: local(Muli-MediumItalic),
      url('../fonts/static/Muli-MediumItalic.ttf') format("truetype");
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
}

.muli-regular{
  font-family:Muli-Regular;
}

.muli-bold{
  font-family:Muli-Bold;
}

.muli-semi-bold{
  font-family:Muli-SemiBold;
}

.muli-medium{
  font-family:Muli-medium;
}

.muli-medium-italic{
  font-family:Muli-MediumItalic;
}

.f-12{
  font-size:12px;
}

.f-14{
  font-size:14px;
}

.f-16{
  font-size:16px;
}

.f-18{
  font-size:18px;
}

.f-20{
  font-size:20px;
}