/* Style CSS for frontend only */
body{
	font-family: 'Muli', sans-serif !important;
}
.navbar-white {
	background-color:#FFF;
	padding:8px 0px 18px 0px;
}
.logo-wrap a.navbar-brand {

}
.logo-wrap a.navbar-brand img {
	height:40px !important;
}
.form-search {
	height:40px;
	background-color: #e8e8e8 !important;
	border-color:#e8e8e8 !important;
	border-radius:5px;
	margin:10px auto 0px auto;
}
.btn-fe {
	height:40px;
	font-size:15px;
	margin:8px auto;
}
.banner-carousel {
	margin:10px auto 20px auto;
	
}
.card-category {
	margin: 10px auto;
	display: inline-block;
	text-align: center;
}
.card-category p {
	margin:5px auto;
	color:#363435;
	font-size:14px;
}
.card-category a img {
	width:76px;
	height:76px;
}

.category-wrap {
    display: flex;
}

.category-scroll-container {
	overflow-x:scroll;
	overflow-y:hidden;
	margin: 10px auto 10px auto;
}
.ym-promo-container h4 {
    margin: 0px 10px 10px 10px;
    font-weight: 600;
	float: left;
	
}
.ym-promo-container a {
	position: relative;
	top: 4px;
	color:#919191;
    font-weight: 300;
    font-size: 15px;
}
.ym-promo-img {
	padding:10px;
	border:1px solid #dee2e6;
	border-radius:5px;
	position: relative;
}
.ym-promo-desc {
	margin:10px auto;
}
.ym-promo-desc span {
	display:inline-block !important;
}
.ym-promo-desc span h4 {
    color: #363435;
    font-weight: 400;
    margin: auto;
    display: block;
    font-size: 17px;
}
.ym-popover {
	display: none;
	position: absolute;
}
    
.ym-promo-item:hover .ym-popover {
	display: block !important;
	position: absolute;
    bottom: 10px;
    display: block;
    left: 10px;
    right: 10px;
	text-align:center;
}
.ym-popover a {
	display:block;
	top:0px;
	padding: 8px 10px;
	background: #FF8900;
	border-radius: 50px;
}
.ym-popover a h4 {
	color:#fff;
	font-size:15px;
	font-weight:600;
	margin:auto;
	display: contents;
}
.normal-price {
	font-weight:400;
	font-size:15px;
	margin:auto
}
.normal-price {
	font-weight:400;
	font-size:15px;
	margin:auto
}
.float-right {
	float:right
}
.price-display-block {
	display:none;
}
.btn-add {
	display:block;
	top:0px;
	/* padding: 8px 10px; */
	background: #FFEDD7;
	border-radius: 50px;
}
.btn-add input.form-control {
	background-color: transparent;
	border:none
}
.remove_button , .add_button {
	background-color: #FF8900;
    border-radius: 96px;
    width: 50px;
    height: 30px;
    display: inline-block;
    overflow: hidden;
    position: relative;
    padding: 0;
    margin: auto;
	
}
.remove_button span, .add_button span {
    color: #fff;
    font-size: 31px;
    position: relative;
    line-height: 0;
    top: 5px;
}
.ym-promo-container {
	margin:10px auto 30px auto
}
.ym-product-container {

}

.ym-product-container a {
	position: relative;
	top: 4px;
	color:#919191;
    font-weight: 300;
    font-size: 15px;
}

.ym-product-container h4 {
    margin: 0px 10px 10px 10px;
    font-weight: 600;
	float: left;
	
}
.ym-product-item {
	margin-bottom:30px
}

.ym-product-img {
	padding:10px;
	border:1px solid #dee2e6;
	border-radius:5px;
	position: relative;
}
.ym-product-item:hover .ym-popover {
	display: block !important;
	position: absolute;
    bottom: 10px;
    display: block;
    left: 10px;
    right: 10px;
	text-align:center;
}
.promo {
	padding:10px 8px 0px 8px;
	background-color:#FF4848;
	position:absolute;
	left:0;
	top:10px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius:5px;
	border-top-right-radius:5px;
	border-top-left-radius:0px;
}
.promo p {
	color:#fff;
}
.overlay-cart{
	
	background: green;
    position: fixed;
    padding: 11px 10px;
    z-index: 9;
    bottom: 30px;
    right: 30px;
	border-radius: 50px;
	width: 45px;
    height: 45px;
}
.overlay-cart a p{
	padding: 7px 8px;
    background-color: #FF3636;
    color: #fff;
    font-size: 14px;
    position: absolute;
    border-radius: 50px;
    top: -15px;
    right: -14px;
}
	
.ic-shop-cart {
    background: url(../img/ic-shop-cart.svg);
    background-repeat: no-repeat;
    display: inline-block;
    width: 26px;
    height: 24px;
    vertical-align: middle;
    background-size: 26px 24px;
}
.logo-wrap-bottom a img {
	height:40px;
}
footer {
	margin:10px auto 30px auto;
}
ul.footer-menu li {
	list-style:none;
	float:left;
	padding:0px 15px;


}
ul.footer-menu li a {
	color:#737373;
	font-size:14px;
}
ul {
	padding-left:0px
}
ul.footer-menu {
	padding: 10px 0px;
}
ul.playstore li {
	list-style:none;
	float:left;
	padding:0px 10px;
}
ul.playstore li  a img{
	height:40px;
}
.promo-price {
	font-size: 16px;
	font-weight: 700;
	color:#363435;
}
.sticky {
	position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
	padding: 5px !important;
	box-shadow: 5px 4px 5px #00000026;
	background-color:#ffffffe6 !important;
  }
  .sticky + .container {
	padding-top: 75px !important;
  }
  .sticky .form-search{
	height: 35px !important;
  }
  .sticky .logo-wrap a.navbar-brand img {
	  height:30px !important;
	  float:left;
  } 
  .sticky .btn{
	  height:auto !important;
	padding: 5px 0px !important;
	} 
	.modal.right .modal-dialog {
		position: fixed;
		margin: auto;
		max-width:500px;
		height: 100%;
		-webkit-transform: translate3d(0%, 0, 0);
		    -ms-transform: translate3d(0%, 0, 0);
		     -o-transform: translate3d(0%, 0, 0);
		        transform: translate3d(0%, 0, 0);
	}
	.modal.right .modal-content {
		height: 100%;
		overflow-y: auto;
	}
	.modal.right .modal-body {
		padding: 15px 15px 80px;
	}
	.modal.right.fade .modal-dialog {
		right: -320px;
		-webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
		   -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
		     -o-transition: opacity 0.3s linear, right 0.3s ease-out;
		        transition: opacity 0.3s linear, right 0.3s ease-out;
	}
	.modal.right.fade.in .modal-dialog {
		right: 0;
	}


	.cart-modal {
		width:400px;
		max-width:500px;
		left:auto !important;
	}
	body.modal-open {
		overflow: hidden;
		position:fixed;
		width: 100%;
	}
	.cart-container {
		padding:20px
	}
.weight-600 {
	font-weight:600;
}
@media (min-width: 769px) {
	.sidebar-fixed.sidebar-default .sidebar-content {
		width: 209px;
		top: 47px;
	}
}










.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}